@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
} */

/* Chrome, Edge, Safari */
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  /* -webkit-appearance: none; */
}

/* Firefox */
input[type="date"] {
  -moz-appearance: textfield;
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
}

.scroll-hide::-webkit-scrollbar{
  display: none;
}
.font-ebrima {
  font-family: var(--font-ebrima);
}
.lit-bg{

  background:radial-gradient(
    50.7% 20.49% at 50% 5.85%,
    rgba(1, 105, 18, 0.397) 20%,
    rgba(0,40,0, 0.45) 35%,
    rgba(0, 20, 0, 0.6) 80%,
    rgba(0,0,0,0.85)100%
    )
  }